@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
  display: none;
}

@layer utilities {
  .bg-banner {
    background-image: url('/public/images/Frame\ 1314.svg');
    background-size: cover;
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
  }
}

@layer base {
  :root {
    --color-gris1: #e6eaed;
  }
}

@layer base {
  :root {
    --color-usucone: #00304d;
  }
}

@layer base {
  :root {
    --color-govco: #3366CC;
  }
}

@layer base {
  :root {
    --color-nuevaentrada: #39A900 ;
  }
}


/* Estilo para Contraste Alto */
.contrast-high {
    background-color: black;
    color: grey;
    font-size: 1.2em; /* Aumenta el tamaño de la fuente */
    line-height: 1.5; /* Aumenta el espacio entre líneas */
    font-family: Arial, sans-serif; /* Cambia la fuente a Arial */
    font-weight: bold; /* Hace el texto más grueso */
    text-shadow: 1px 1px 2px black; /* Añade sombra al texto */
}


/* Estilo para Modo Oscuro */
.dark-mode {
    background-color: #121212;
    color: white;
    font-size: 1.2em; /* Aumenta el tamaño de la fuente */
    line-height: 1.5; /* Aumenta el espacio entre líneas */
    font-family: Arial, sans-serif; /* Cambia la fuente a Arial */
    font-weight: bold; /* Hace el texto más grueso */
    text-shadow: 1px 1px 2px black; /* Añade sombra al texto */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px; /* Espacio interno */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra alrededor del contenedor */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave */
}

/* Otros ajustes posibles para contraste alto */
.contrast-high a {
    color: purple;
    text-decoration: underline; /* Subraya los enlaces */
}

/* Estilos para el tamaño de fuente, si es necesario */
html {
    font-size: 16px;
}


.faq-item {
    transition: all 0.3s ease-in-out;
    opacity: 1;
    max-height: 1000px;
    overflow: hidden;
    padding: 1rem;
    margin: 1rem 0;
    background-color: var(--color-gris1);
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--color-usucone);

}
.faq-item.hide {
    opacity: 0;
    max-height: 0;
    padding: 0;
    margin: 0;
}


@layer base {
  :root {
    --color-ICONOESTA: #00304D;
  }
}

@layer base {
  :root {
    --color-iconos: #00304D;
    --color-iconos2: #287800 ;
    --color-iconos3: #5C1759;
    --color-iconos4: #39A900;
  }
}

@layer base {
    :root {
        --color-sidebarhoverbtn: #547488;
    }
}

@layer base {
    :root {
        --color-ajustes: #D1D1D1;
    }
}

@layer base {
    :root {
        --color-profile: #F6F6F6;
        --color-text: #F6F6F6;
    }
}
